*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #22046b, #e14e42);
    color: white;
    position: relative;

}
.row{
    width: 80%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}
.col{
    margin: 20px 0;
    flex-basis: 50%;
    min-width: 300px;
    height: 100%;
    position: relative;
}
.text-box{
    max-width: 400px;
    margin-top: 100px;
}
.text-box h5{
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.text-box h1{
    font-size: 30px;
    font-weight: 95;
    letter-spacing: 3px;
    line-height: 30px;
}
.gallery1{
    max-width: 350px;
    position: relative;
    margin: auto;
}
.gallery1 img{
    width: 100%;
    border: 10px solid rgb(255,255,255,0.2);
    box-sizing: border-box;
}
.gallery2 {
    max-width: 500px;
    margin-top: 20px;
    position: relative;
    top: 40px;
    right: 700px;
    height: 100%;
    
}
.gallery2 img{
    height: 300px;
    width: 500px;
    border: 10px solid rgb(255,255,255,0.2);
    box-sizing: border-box;
}
.text2{
    max-width: 400px;
    margin-top: 350px;
    position: relative;
    left: 700px;
}
.text2 h1{
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text2 p{
    font-size: 25px;
    font-weight: 95;
    letter-spacing: 2px;
    line-height: 30px;
}
marquee{
    color:#e1c642;
    font-size: 30px;
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.smallicon1{
    width: 40px;
    position:absolute;
    right: 200px;
    top: 100px;
    opacity: 0.2;
    
}
.smallicon2{
    width: 200px;
    position: absolute;
    right: -700px;
    top: 500px;
    opacity: 0.5;
}
.smallicon3{
    width: 180px;
    position:absolute;
    right: 650px;
    top: 500px;
    opacity: 0.3;
    transform: rotateX(40);
}
.smallicon4{
    width: 180px;
    position:absolute;
    right: -200px;
    top: 200px;
    opacity: 0.3;
    transform:rotate3d(30deg);
}
.smallicon5{
    opacity: 0.2;
    width: 200px;
    right: -100px;
}
